body {
  font-family: Arial, sans-serif;
  margin: 0;
  
}

.container {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 1.1fr 0.7fr;
  grid-template-rows: 0.4fr 1.2fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
      "Header Header Header NAV"
      "Home Home Home NAV"
      "Home Home Home NAV";
}

.NAV {
  grid-area: NAV;
  background-color: #00BBFF;
}

.Header {
  grid-area: Header;
  background-color: #00BBFF;
  height: 20vh;
}

.Home {
  grid-area: Home;
  background-color: #00DAFF;
}

/* Navigatiestijlen */
.NAV h3 {
  text-align: center;
}

/* Responsieve stijlen voor mobiele apparaten */
@media (max-width: 768px) {
  .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
          "Header"
          "NAV"
          "Home";
  }

  .NAV {
      background-color: #00BBFF;
      text-align: center;
  }

  .Header {
      background-color: #00BBFF;
      height: auto;
      text-align: center;
  }

  .Home {
      background-color: #00DAFF;
      text-align: justify;
  }
}